/************global css style *******************/

:root {
  --main-color: #9501d2;
  --bg-black-900: #f2f2fc;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body {
  line-height: 1.5;
  font-size: 16px;
}
* {
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "balo";
  src: url(../../public/fonts/font/BalooChettan.ttf);
}

@font-face {
  font-family: "jose";
  src: url(../../public/fonts/font/JosefinSans.ttf);
}

/***********login page *******************/
.reset {
  background-image: url(../../public/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset .block {
  width: 100%;
  max-width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  background-color: #fff;
  border-radius: 30px;
}

.reset .block .reset_image {
  width: 50%;
  /*padding: 32px 30px;*/
  height: 80vh;
}
.reset .block .reset_image img {
  width: 100%;
  height: 80vh;
  border-radius: 30px 0px 0px 30px;
}

.reset .block .reset_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  /*padding: 32px 30px;*/
  height: 80vh;
}

.reset .block h1 {
  color: var(--main-color);
  font-size: 4.5rem;
  font-family: "balo";
}
.reset .block p {
  color: #8c8787;
  font-family: "jose";
  font-size: 20px;
}
.reset .block input {
  width: 80%;
  padding: 8px 13px;
  font-family: "jose";
}

.reset .form_group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reset .block .reset_form .form {
  width: 100%;
}

.reset .block .reset_form .form button {
  width: 80%;
  font-family: "balo";
  margin-top: 33px;
  padding: 10px 1px;
  background: var(--main-color);
  border: 0;
  color: #fff;
  font-family: "balo";
  font-size: 18px;
}

.reset .block input:focus {
  border: 2px solid var(--main-color);
}

.reset .block .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

/***************media query ********************/

@media screen and (max-width: 600px) {
  .reset .block {
    box-sizing: border-box;
    border: 1px solid gray;
    max-width: 92%;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: #fff;
  }
  .reset .block .reset_image {
    width: 0%;
  }
  .reset .form_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .reset .block h1 {
    color: var(--main-color);
    font-size: 2rem;
    font-family: "balo";
  }

  .reset .block .reset_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    /*padding: 32px 30px;*/
    max-width: 92%;
    height: 92vh;
    width: 100%;
  }

  .reset_block h1 {
    color: var(--main-color);
    font-size: 3.1rem;
    font-family: "balo";
    width: 100%;
  }
  .reset .block .reset_image img {
    display: none;
  }

  .reset .block input {
    width: 100%;
    padding: 8px 13px;
    font-family: "jose";
  }
  .reset .block .reset_form .form button {
    width: 100%;
    font-family: "balo";
    margin-top: 33px;
    padding: 10px 1px;
    background: var(--main-color);
    border: 0;
    color: #fff;
    font-family: "balo";
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .reset .block {
    box-sizing: border-box;
    border: 1px solid gray;
    max-width: 92%;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: #fff;
  }
  .reset .block .reset_image {
    width: 0%;
  }
  .reset .block h1 {
    color: var(--main-color);
    font-size: 3.1rem;
    font-family: "balo";
  }

  .reset .block .reset_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    /*padding: 32px 30px;*/
    max-width: 92%;
    height: 92vh;
    width: 100%;
  }

  .reset_block h1 {
    color: var(--main-color);
    font-size: 3.1rem;
    font-family: "balo";
    width: 100%;
  }
  .reset .block .forget_image img {
    display: none;
  }

  .reset .block input {
    width: 100%;
    padding: 8px 13px;
    font-family: "jose";
  }
  .reset .block .reset_form .form button {
    width: 100%;
    font-family: "balo";
    margin-top: 33px;
    padding: 10px 1px;
    background: var(--main-color);
    border: 0;
    color: #fff;
    font-family: "balo";
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .reset .block {
    box-sizing: border-box;
    border: 1px solid gray;
    max-width: 92%;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: #fff;
  }
  .reset .block .reset_image {
    width: 0%;
  }
  .reset .block h1 {
    color: var(--main-color);
    font-size: 3.1rem;
    font-family: "balo";
  }

  .reset .block .reset_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    /*padding: 32px 30px;*/
    max-width: 92%;
    height: 92vh;
    width: 100%;
  }

  .reset_block h1 {
    color: var(--main-color);
    font-size: 3.1rem;
    font-family: "balo";
    width: 100%;
  }
  .reset .block .reset_image img {
    display: none;
  }

  .reset .block input {
    width: 100%;
    padding: 8px 13px;
    font-family: "jose";
  }
  .reset .block .reset_form .form button {
    width: 100%;
    font-family: "balo";
    margin-top: 33px;
    padding: 10px 1px;
    background: var(--main-color);
    border: 0;
    color: #fff;
    font-family: "balo";
    font-size: 18px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1533px) {
  .reset .block h1 {
    color: var(--main-color);
    font-size: 2.5rem;
    font-family: "balo";
  }
  .reset .block p {
    color: #8c8787;
    font-family: "jose";
    font-size: 17px;
  }
}
